@model PersonAddRequest
@{
    ViewBag.Title = "Add Person";
}

<h2>Create Person</h2>

<div class="center-box">
    <form asp-controller="Persons" asp-action="Create" method="post">
        <div class="form-field flex">
            <div class="w-25">
                <label asp-for="PersonName" class="form-label pt">Person Name</label>
            </div>
            <div class="flex-1">
                <input asp-for="PersonName" class="form-input" /> @*Não precisa adicionar o id e o name, eles são criados automaticamente*@
                <span asp-validation-for="PersonName" class="text-red"></span>
            </div>
        </div>

        <div class="form-field flex">
            <div class="w-25">
                <label asp-for="PersonEmail" class="form-label pt">Email</label>
            </div>
            <div class="flex-1">
                <input asp-for="PersonEmail" class="form-input" />
                <span asp-validation-for="PersonEmail" class="text-red"></span>
            </div>
        </div>

        <div class="form-field flex">
            <div class="w-25">
                <label asp-for="DateOfBirth" class="form-label pt">Date of Birth</label>
            </div>
            <div class="flex-1">
                <input asp-for="DateOfBirth" class="form-input" />
                <span asp-validation-for="DateOfBirth" class="text-red"></span>
            </div>
        </div>

        <div class="form-field flex">
            <div class="w-25">
                <label class="form-label">Gender</label>
            </div>
            <div class="flex-1">
                @{
                    string[] genders = (string[])Enum.GetNames(typeof(GenderOptions));
                }
                @foreach (string gender in genders)
                {
                    <input type="radio" asp-for="Gender" value="@gender" />
                    <label asp-for="@gender">@gender</label>
                }
                <span asp-validation-for="Gender" class="text-red"></span>
            </div>
        </div>

        <div class="form-field flex">
            <div class="w-25">
                <label asp-for="CountryId" class="form-label pt">Country</label>
            </div>
            <div class="flex-1">
                <select asp-for="CountryId" class="form-input" asp-items="@ViewBag.Countries">
                    <option value="">Please select</option>
                </select>
                <span asp-validation-for="CountryId" class="text-red"></span>
            </div>
        </div>

        <div class="form-field flex">
            <div class="w-25">
                <label asp-for="Address" class="form-label pt">Address</label>
            </div>
            <div class="flex-1">
                <textarea asp-for="Address" class="form-input"> </textarea>
                <span asp-validation-for="Address" class="text-red"></span>
            </div>
        </div>

        <div class="form-field flex">
            <div class="w-25">
            </div>
            <div class="flex-1">
                <input asp-for="ReceiveNewsLetters" value="true" />
                <label asp-for="ReceiveNewsLetters" class="form-label">Receive Newsletters</label>
                <span asp-validation-for="ReceiveNewsLetters" class="text-red"></span>
            </div>
        </div>

        <div class="form-field flex">
            <div class="w-25">
            </div>
            <div class="flex-1">
                <button class="button button-green-back">Create</button>
                <a asp-controller="Persons" asp-action="Index" class="button button-blue-back">Go Back</a>

                <div asp-validation-summary="All" class="text-red">
                    @if (ViewBag.Errors != null)
                    {
                        <div class="text-red ml">
                            <ul>
                                @foreach (string error in ViewBag.Errors)
                                {
                                    <li class="ml">@error</li>
                                }
                            </ul>
                        </div>
                    }
                </div>
            </div>
        </div>
    </form>
</div>


@section scripts {
    @*Tem que estar nessa ordem*@
    <script asp-fallback-test="windows.jQuery" asp-fallback-src="~/lib/jQuery/jquery.min.js" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js" integrity="sha512-3gJwYpMe3QewGELv8k/BX9vcqhryRdzRMxVfq6ngyWXwo03GFEzjsUm8Q7RZcHPHksttq7/GFoxjCVUjkjvPdw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script asp-fallback-test="windows.jQuery.validator" asp-fallback-src="~/lib/jQuery/jquery.validate.min.js" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.5/jquery.validate.min.js" integrity="sha512-rstIgDs0xPgmG6RX1Aba4KV5cWJbAMcvRCVmglpam9SoHZiUCyQVDdH2LPlxoHtrv17XWblE/V/PP+Tr04hbtA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script asp-fallback-test="windows.jQuery.validator.unobstrusive" asp-fallback-src="~/lib/jQuery/jquery.validate.unobtrusive.min.js" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/4.0.0/jquery.validate.unobtrusive.min.js" integrity="sha512-xq+Vm8jC94ynOikewaQXMEkJIOBp7iArs3IhFWSWdRT3Pq8wFz46p+ZDFAR7kHnSFf+zUv52B3prRYnbDRdgog==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    }