@using RazorViews.Models
@using static RazorViews.Models.Person;

@{
    string appTitle = "ASP.NET Core Demo APP";
    List<Person> people = new List<Person>()
    {
        new Person() { Name = "John", DateOfBirth = DateTime.Parse("1988-07-09"), PersonGender = Gender.Male },
        new Person() { Name = "Samantha", DateOfBirth = DateTime.Parse("1998-10-29"), PersonGender = Gender.Male },
        new Person() { Name = "Chris", DateOfBirth = DateTime.Parse("2001-04-02"), PersonGender = Gender.Other },
        new Person() { Name = "Michelle", DateOfBirth = DateTime.Parse("1970-01-14"), PersonGender = Gender.Female },
        new Person() { Name = "Mickayla", DateOfBirth = DateTime.Parse("2004-12-05"), PersonGender = Gender.Other }
    };
}

<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8" />
        <title>Minha primeira página</title>
    </head>
    <body>
        <h1>Escrevendo algo aqui</h1>
        <h2>@appTitle</h2>
        <form> 
            <label>Nome</label>
            <input type="text" /> <br>
            <label>Email</label>
            <input type="email" /> <br>
            <label>Password</label>
            <input type="password" /> <br>
            <label>Confirm Password</label>
            <input type="password" /> <br>
        </form>
        @foreach (var person in people)
        {
            <h3>@person.Name
                <span>, </span>
                @if (@person.DateOfBirth != null)
                {
                    @person.DateOfBirth.Value.ToString("dd/MM/yyyy")
                }
                <span>, </span>
                @person.PersonGender
            </h3>
        }
</body>
</html>